<div ui-view="page_body">
    <div class="row mb-2">
        <div class="col-md-12">
            <a href="javascript:;">
                <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> New Upsell </button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-tag"></i>List
                    </div>
                    <div class="tools pull-right">
                        <a href="javascript:;" class="reload-list" ng-click="vm.search()"> </a>
                    </div>
                    <div class="col-sm-3 mt-1 pull-right">
                        <form ng-submit="vm.startSearch()" novalidate="novalidate">
                            <div class="form-group mb-0">
                                <div class="input-group search-input">
                                    <input type="text" class="form-control" ng-model="vm.searchTerm" placeholder="Search upsells..." disable-valid-styling="true" />
                                    <span class="input-group-addon" ng-click="vm.startSearch()">
                                    <i class="icon-magnifier font-white"></i>
                                    </span>
                                    <span class="input-group-addon" ng-click="vm.clearSearch()" ng-if="vm.searchTerm">
                                    <i class="fa fa-close font-white"></i>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-2 mt-1 pull-right">
                        <select class="form-control col-xs-12" ng-model="vm.filterUpsellStatus">
                            <option value="">Status...</option>
                            <option value="draft">Draft</option>
                            <option value="published">Published</option>
                            <option value="hidden">Hidden</option>
                            <option value="archived">Archived</option>
                            <option value="pending">Pending</option>
                            <option value="approved">Approved</option>
                            <option value="rejected">Rejected</option>
                        </select>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="alert {{vm.response.success}}" ng-if="vm.response.msg">
                        <strong>{{vm.response.alert}}</strong> {{vm.response.msg}}
                    </div>
                    <div class="row table-scrollable">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th> Name </th>
                                    <th> Associated Products </th>
                                    <th> Status </th>
                                    <th> Link </th>
                                    <th> Price </th>
                                    <th> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="upsell in vm.upsells" ng-show="!vm.isLoading && vm.upsells.length != 0">
                                    <td ng-bind="upsell.name"></td>
                                    <td></td>
                                    <td ng-bind="upsell.status" style="text-transform: capitalize;"></td>
                                    <td>
                                        <a href="{{upsell.link}}" ng-bind="upsell.link" target="_blank"></a>
                                    </td>
                                    <td ng-bind="upsell.price | toCurrencyFormat"></td>
                                    <td>
                                        <a href="javascript:;" class="btn btn-outline btn-circle btn-sm blue">
                                            <i class="fa fa-share"></i> View
                                        </a>
                                        <a href="javascript:;" class="btn btn-outline btn-circle btn-sm purple">
                                            <i class="fa fa-edit"></i> Edit
                                        </a>
                                        <a href="javascript:;" ng-click="vm.deleteUpsell($event.currentTarget, upsell)" data-spinner-color="#e7505a" class="btn btn-outline btn-circle btn-sm red">
                                            <i class="fa fa-trash-o"></i> Delete
                                        </a>
                                    </td>
                                </tr>
                                <tr ng-show="!vm.isLoading && vm.upsells.length == 0">
                                    <td colspan="6">
                                        <div class="text-center">
                                            <h3>No upsells</h3>
                                            <a href="javascript:;">
                                                <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> New Upsell </button>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-show="vm.isLoading">
                                    <td colspan="6">
                                        <ng-include src="'/app/common/loading.html'"></ng-include>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
